<h1>To-Do List</h1>
<div class="col-md-1"><%= link_to "New Item", new_task_path %></div>
<br>
<div class="container-fluid">
<div class="col-md-4"><strong>Task</strong></div>
<div class="col-md-4"><strong>Deadline</strong></div>
<div class="col-md-4"><strong>Edit</strong></div>
<% @tasks.each do |task| %>
	<div class="col-md-4"><%= task.name %></div>
	<div class="col-md-4"><%= task.deadline %></div>
	<div class="col-mid-4"><%= link_to "Edit", edit_task_path(task) %></div>
<% end %>
</div>